<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
	<title>puzzle</title>
</head>

<body>
    <header> 
        <h1>PUZZLE SUR LE MONDE	</h1>
    </header> 

    <nav class="menu">
        <ul class="menu-list">
            <li class="menu-item">
                <a href="/">Accueil</a>
            </li>
            <li class="menu-item">
                <a href="#">Monde</a>
                <ul class="submenu">
                    <li><a href="/run-monde_f">Facile</a></li>
                    <li><a href="/run-monde_m">Moyen</a></li>
                    <li><a href="/run-monde_d">Difficile</a></li>
                </ul>
            </li>
			<li class="menu-item">
                <a href="#">Asie</a>
                <ul class="submenu">
                    <li><a href="/run-asie_f">Facile</a></li>
                    <li><a href="/run-asie_m">Moyen</a></li>
                    <li><a href="/run-asie_d">Difficile</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <!-- Bouton stylisé -->
                <button id="uploadBtn">Importer</button>
                <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data" style="display: none;">
                    <input type="file" name="file" id="fileInput" accept="image/*">
                </form>
            </li>
            <li class="menu-item">
                <a href="#">À propos</a>
            </li>
        </ul>
    </nav>

    <script>
        document.getElementById("uploadBtn").addEventListener("click", function() {
            document.getElementById("fileInput").click(); // Simule le clic sur l'input
        });
        
        document.getElementById("fileInput").addEventListener("change", function() {
            document.getElementById("uploadForm").submit(); // Soumet le formulaire dès qu'un fichier est sélectionné
        });
    </script>
</body>
</html>