
	<!DOCTYPE HTML>
	<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
	<title>puzzle</title>
	
	<style>
		.grid-cell {
		width: 64px;
		height: 64px;
		border: 1px solid #aaaaaa;
		position: relative;
		}

	</style>
	
	<script>
		function allowDrop(ev) {
		ev.preventDefault();
		}

		function drag(ev) {
		ev.dataTransfer.setData("text", ev.target.id);
		}

		function drop(ev) {
		ev.preventDefault();
		var data = ev.dataTransfer.getData("text");

		if (ev.target.classList.contains('grid-cell') && ev.target.children.length === 0) {
			ev.target.appendChild(document.getElementById(data));
		} 
		}
	</script>
	</head>
	
	<body>
		<header>Puzzle du monde </header>

		<nav class="menu">
			<ul class="menu-list">
				<li class="menu-item">
					<a href="/">Accueil</a>
				</li>
				<li class="menu-item">
					<a href="#">Monde</a>
					<ul class="submenu">
						<li><a href="/run-monde_f">Facile</a></li>
						<li><a href="/run-monde_m">Moyen</a></li>
						<li><a href="/run-monde_d">Difficile</a></li>
					</ul>
				</li>
				<li class="menu-item">
					<a href="#">Asie</a>
					<ul class="submenu">
						<li><a href="/run-asie_f">Facile</a></li>
						<li><a href="/run-asie_m">Moyen</a></li>
						<li><a href="/run-asie_d">Difficile</a></li>
					</ul>
				</li>
				<li class="menu-item">
					<a href="#">Importer</a>
				</li>
				<li class="menu-item">
					<a href="#">À propos</a>
				</li>
			</ul>
		</nav>
	
		<div class="carte">
			<table border="0" cellspacing="0" cellpadding="0">
	        <tr>
            <td><div id="cell0" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell1" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell2" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell3" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell4" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell5" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell6" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell7" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell8" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell9" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell10" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell11" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell12" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell13" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell14" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell15" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
        </tr>
        <tr>
            <td><div id="cell16" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell17" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell18" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell19" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell20" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell21" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell22" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell23" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell24" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell25" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell26" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell27" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell28" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell29" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell30" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell31" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
        </tr>
        <tr>
            <td><div id="cell32" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell33" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell34" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell35" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell36" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell37" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell38" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell39" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell40" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell41" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell42" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell43" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell44" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell45" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell46" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell47" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
        </tr>
        <tr>
            <td><div id="cell48" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell49" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell50" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell51" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell52" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell53" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell54" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell55" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell56" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell57" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell58" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell59" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell60" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell61" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell62" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell63" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
        </tr>
        <tr>
            <td><div id="cell64" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell65" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell66" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell67" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell68" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell69" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell70" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell71" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell72" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell73" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell74" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell75" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell76" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell77" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell78" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell79" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
        </tr>
        <tr>
            <td><div id="cell80" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell81" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell82" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell83" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell84" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell85" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell86" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell87" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell88" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell89" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell90" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell91" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell92" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell93" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell94" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell95" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
        </tr>
        <tr>
            <td><div id="cell96" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell97" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell98" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell99" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell100" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell101" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell102" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell103" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell104" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell105" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell106" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell107" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell108" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell109" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell110" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell111" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
        </tr>
        <tr>
            <td><div id="cell112" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell113" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell114" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell115" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell116" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell117" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell118" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell119" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell120" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell121" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell122" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell123" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell124" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell125" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell126" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell127" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
        </tr>
        </table>
    </div>

		<div class="morceaux">
			Placer les morceaux sur la carte:
			<table border="0" cellspacing="0" cellpadding="0">
	        <tr>
            <td colspan="3"><img id="drag0" src="{{ url_for('static', filename='images/piece_6_9.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag1" src="{{ url_for('static', filename='images/piece_1_10.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag2" src="{{ url_for('static', filename='images/piece_0_5.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag3" src="{{ url_for('static', filename='images/piece_5_1.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag4" src="{{ url_for('static', filename='images/piece_3_5.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag5" src="{{ url_for('static', filename='images/piece_6_14.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag6" src="{{ url_for('static', filename='images/piece_3_10.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag7" src="{{ url_for('static', filename='images/piece_4_12.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag8" src="{{ url_for('static', filename='images/piece_7_0.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag9" src="{{ url_for('static', filename='images/piece_7_5.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag10" src="{{ url_for('static', filename='images/piece_0_14.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag11" src="{{ url_for('static', filename='images/piece_1_13.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag12" src="{{ url_for('static', filename='images/piece_7_9.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag13" src="{{ url_for('static', filename='images/piece_0_12.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag14" src="{{ url_for('static', filename='images/piece_2_6.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag15" src="{{ url_for('static', filename='images/piece_1_14.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag16" src="{{ url_for('static', filename='images/piece_0_11.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag17" src="{{ url_for('static', filename='images/piece_0_10.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag18" src="{{ url_for('static', filename='images/piece_3_7.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag19" src="{{ url_for('static', filename='images/piece_7_3.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag20" src="{{ url_for('static', filename='images/piece_6_3.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag21" src="{{ url_for('static', filename='images/piece_5_15.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag22" src="{{ url_for('static', filename='images/piece_3_11.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag23" src="{{ url_for('static', filename='images/piece_1_3.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag24" src="{{ url_for('static', filename='images/piece_0_2.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag25" src="{{ url_for('static', filename='images/piece_3_12.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag26" src="{{ url_for('static', filename='images/piece_5_10.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag27" src="{{ url_for('static', filename='images/piece_5_5.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag28" src="{{ url_for('static', filename='images/piece_6_13.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag29" src="{{ url_for('static', filename='images/piece_3_9.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag30" src="{{ url_for('static', filename='images/piece_1_5.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag31" src="{{ url_for('static', filename='images/piece_4_14.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag32" src="{{ url_for('static', filename='images/piece_5_14.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag33" src="{{ url_for('static', filename='images/piece_4_15.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag34" src="{{ url_for('static', filename='images/piece_3_4.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag35" src="{{ url_for('static', filename='images/piece_5_7.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag36" src="{{ url_for('static', filename='images/piece_7_13.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag37" src="{{ url_for('static', filename='images/piece_1_2.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag38" src="{{ url_for('static', filename='images/piece_6_5.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag39" src="{{ url_for('static', filename='images/piece_1_15.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag40" src="{{ url_for('static', filename='images/piece_2_13.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag41" src="{{ url_for('static', filename='images/piece_6_4.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag42" src="{{ url_for('static', filename='images/piece_1_6.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag43" src="{{ url_for('static', filename='images/piece_0_15.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag44" src="{{ url_for('static', filename='images/piece_2_7.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag45" src="{{ url_for('static', filename='images/piece_2_12.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag46" src="{{ url_for('static', filename='images/piece_1_8.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag47" src="{{ url_for('static', filename='images/piece_2_5.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag48" src="{{ url_for('static', filename='images/piece_2_8.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag49" src="{{ url_for('static', filename='images/piece_1_7.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag50" src="{{ url_for('static', filename='images/piece_7_11.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag51" src="{{ url_for('static', filename='images/piece_1_0.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag52" src="{{ url_for('static', filename='images/piece_3_0.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag53" src="{{ url_for('static', filename='images/piece_6_0.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag54" src="{{ url_for('static', filename='images/piece_2_3.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag55" src="{{ url_for('static', filename='images/piece_0_6.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag56" src="{{ url_for('static', filename='images/piece_2_11.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag57" src="{{ url_for('static', filename='images/piece_4_4.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag58" src="{{ url_for('static', filename='images/piece_1_11.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag59" src="{{ url_for('static', filename='images/piece_2_2.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag60" src="{{ url_for('static', filename='images/piece_5_13.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag61" src="{{ url_for('static', filename='images/piece_7_14.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag62" src="{{ url_for('static', filename='images/piece_3_8.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag63" src="{{ url_for('static', filename='images/piece_2_4.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag64" src="{{ url_for('static', filename='images/piece_7_7.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag65" src="{{ url_for('static', filename='images/piece_2_15.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag66" src="{{ url_for('static', filename='images/piece_7_8.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag67" src="{{ url_for('static', filename='images/piece_6_15.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag68" src="{{ url_for('static', filename='images/piece_5_0.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag69" src="{{ url_for('static', filename='images/piece_7_10.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag70" src="{{ url_for('static', filename='images/piece_5_8.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag71" src="{{ url_for('static', filename='images/piece_3_1.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag72" src="{{ url_for('static', filename='images/piece_3_2.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag73" src="{{ url_for('static', filename='images/piece_4_7.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag74" src="{{ url_for('static', filename='images/piece_0_1.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag75" src="{{ url_for('static', filename='images/piece_6_11.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag76" src="{{ url_for('static', filename='images/piece_3_6.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag77" src="{{ url_for('static', filename='images/piece_5_3.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag78" src="{{ url_for('static', filename='images/piece_4_8.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag79" src="{{ url_for('static', filename='images/piece_5_9.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag80" src="{{ url_for('static', filename='images/piece_6_6.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag81" src="{{ url_for('static', filename='images/piece_6_1.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag82" src="{{ url_for('static', filename='images/piece_0_13.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag83" src="{{ url_for('static', filename='images/piece_7_2.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag84" src="{{ url_for('static', filename='images/piece_7_6.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag85" src="{{ url_for('static', filename='images/piece_0_4.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag86" src="{{ url_for('static', filename='images/piece_0_0.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag87" src="{{ url_for('static', filename='images/piece_0_3.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag88" src="{{ url_for('static', filename='images/piece_5_4.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag89" src="{{ url_for('static', filename='images/piece_2_10.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag90" src="{{ url_for('static', filename='images/piece_6_8.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag91" src="{{ url_for('static', filename='images/piece_1_1.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag92" src="{{ url_for('static', filename='images/piece_5_6.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag93" src="{{ url_for('static', filename='images/piece_7_1.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag94" src="{{ url_for('static', filename='images/piece_7_4.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag95" src="{{ url_for('static', filename='images/piece_7_12.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag96" src="{{ url_for('static', filename='images/piece_4_9.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag97" src="{{ url_for('static', filename='images/piece_0_9.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag98" src="{{ url_for('static', filename='images/piece_2_9.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag99" src="{{ url_for('static', filename='images/piece_3_13.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag100" src="{{ url_for('static', filename='images/piece_4_11.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag101" src="{{ url_for('static', filename='images/piece_2_0.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag102" src="{{ url_for('static', filename='images/piece_4_3.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag103" src="{{ url_for('static', filename='images/piece_4_6.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag104" src="{{ url_for('static', filename='images/piece_3_3.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag105" src="{{ url_for('static', filename='images/piece_0_7.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag106" src="{{ url_for('static', filename='images/piece_5_12.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag107" src="{{ url_for('static', filename='images/piece_1_4.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag108" src="{{ url_for('static', filename='images/piece_2_14.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag109" src="{{ url_for('static', filename='images/piece_6_7.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag110" src="{{ url_for('static', filename='images/piece_1_9.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag111" src="{{ url_for('static', filename='images/piece_6_12.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag112" src="{{ url_for('static', filename='images/piece_4_1.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag113" src="{{ url_for('static', filename='images/piece_4_2.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag114" src="{{ url_for('static', filename='images/piece_5_11.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag115" src="{{ url_for('static', filename='images/piece_4_0.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag116" src="{{ url_for('static', filename='images/piece_4_10.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag117" src="{{ url_for('static', filename='images/piece_2_1.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag118" src="{{ url_for('static', filename='images/piece_6_10.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag119" src="{{ url_for('static', filename='images/piece_4_13.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag120" src="{{ url_for('static', filename='images/piece_7_15.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag121" src="{{ url_for('static', filename='images/piece_3_14.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag122" src="{{ url_for('static', filename='images/piece_5_2.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag123" src="{{ url_for('static', filename='images/piece_1_12.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag124" src="{{ url_for('static', filename='images/piece_6_2.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag125" src="{{ url_for('static', filename='images/piece_0_8.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag126" src="{{ url_for('static', filename='images/piece_4_5.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
            <td colspan="3"><img id="drag127" src="{{ url_for('static', filename='images/piece_3_15.png') }}" draggable="true" ondragstart="drag(event)" width="250" height="250"></td>
        </tr>

			</table>
		</div>	

	</body>
	</html>
	