
	<!DOCTYPE HTML>
	<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
	<title>puzzle</title>
	
	<style>
		.grid-cell {
			width: 10vw;
			height: 7vw;
			border: 1px solid #aaaaaa;
			position: relative;
		}

		.carte {
			margin-top: 10px;
			float:left;	
			padding : 15px 10px 15px 25px; 
			width: 31.209059233449477vw; 	
			height : 46.0vw; 
			background : whitesmoke; 
		}

		.morceaux {	
			margin-top: 10px;
			margin-left : 40.20905923344948vw; 		
			padding : 15px 10px 15px 10px; 	
			width: 31.209059233449477vw; 	
			height : auto; 
			background-color : #2f5ec4; 
			font-size: x-large;
		}

	</style>
	
	<script>
		function allowDrop(ev) {
			ev.preventDefault();
		}

		function drag(ev) {
			ev.dataTransfer.setData("text", ev.target.id);
		}

		function drop(ev) {
			ev.preventDefault();
			const pieceId = ev.dataTransfer.getData("text");
			const caseId = ev.target.id;
			//console.log(caseId);

			// Vérifier si la case est vide et placer le morceau
			if (ev.target.classList.contains('grid-cell') && ev.target.children.length === 0) {
				ev.target.appendChild(document.getElementById(pieceId));
			} 
			// Vérifier si le morceau est bien placé
			if (pieceId.replace("drag", "") === caseId.replace("cell", "")) {
				console.log("Bien placé :", pieceId, caseId);
				checkCompletion()
			} else {
				console.log("Mauvaise position :", pieceId, caseId);
			}

			
		}

		function checkCompletion() {
			const dropzones = document.querySelectorAll('.grid-cell');
			let correct = 0;
			dropzones.forEach(zone => {
				if (zone.children.length > 0) {
				const piece = zone.children[0];
				//console.log(piece.id, zone.id);
				const pieceCoords = piece.id.replace(/^drag_/, '');
				const zoneCoords  = zone.id.replace(/^cell_/, '');
				if (pieceCoords === zoneCoords) {correct++;}

			}
			});

			if (correct === dropzones.length) {
				alert('🎉 Puzzle complété !');
			} else {
				console.log(`Progression: ${correct} / ${dropzones.length}`);
			}
		}



	</script>
	</head>
	
	<body>
		<header>Puzzle du monde </header>

		    <nav class="menu">
        <ul class="menu-list">
            <li class="menu-item">
                <a href="/">Accueil</a>
            </li>
            <li class="menu-item">
                <a href="#">Monde</a>
                <ul class="submenu">
                    <li><a href="/run-monde_f">Facile</a></li>
                    <li><a href="/run-monde_m">Moyen</a></li>
                    <li><a href="/run-monde_d">Difficile</a></li>
                </ul>
            </li>
			<li class="menu-item">
                <a href="#">Asie</a>
                <ul class="submenu">
                    <li><a href="/run-asie_f">Facile</a></li>
                    <li><a href="/run-asie_m">Moyen</a></li>
                    <li><a href="/run-asie_d">Difficile</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <button id="uploadBtn">Importer</button>
                <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data" style="display: none;">
                    <input type="file" name="file" id="fileInput" accept="image/*">
                </form>
            </li>
            <li class="menu-item">
                <a href="#">À propos</a>
            </li>
        </ul>
    </nav>
	
		<div class="carte">
			<table border="0" cellspacing="0" cellpadding="0">
	        <tr>
            <td><div id="cell_0_0" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell_0_1" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell_0_2" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
        </tr>
        <tr>
            <td><div id="cell_1_0" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell_1_1" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell_1_2" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
        </tr>
        <tr>
            <td><div id="cell_2_0" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell_2_1" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell_2_2" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
        </tr>
        <tr>
            <td><div id="cell_3_0" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell_3_1" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell_3_2" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
        </tr>
        <tr>
            <td><div id="cell_4_0" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell_4_1" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell_4_2" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
        </tr>
        <tr>
            <td><div id="cell_5_0" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell_5_1" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell_5_2" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
        </tr>
        </table>
    </div>

		<div class="morceaux">
			Placer les morceaux sur la carte:
			<table border="0" cellspacing="0" cellpadding="0">
	        <tr>

			<td colspan="3">
        		<img id="drag_4_2" 
             		src="{{ url_for('static', filename='images/piece_4_2.png') }}" 
             		draggable="true" 
             		ondragstart="drag(event)"
             		style="width: 10vw; height: 7vw;">
    		</td>

			<td colspan="3">
        		<img id="drag_5_2" 
             		src="{{ url_for('static', filename='images/piece_5_2.png') }}" 
             		draggable="true" 
             		ondragstart="drag(event)"
             		style="width: 10vw; height: 7vw;">
    		</td>

			<td colspan="3">
        		<img id="drag_3_1" 
             		src="{{ url_for('static', filename='images/piece_3_1.png') }}" 
             		draggable="true" 
             		ondragstart="drag(event)"
             		style="width: 10vw; height: 7vw;">
    		</td>
        </tr>
        <tr>

			<td colspan="3">
        		<img id="drag_4_1" 
             		src="{{ url_for('static', filename='images/piece_4_1.png') }}" 
             		draggable="true" 
             		ondragstart="drag(event)"
             		style="width: 10vw; height: 7vw;">
    		</td>

			<td colspan="3">
        		<img id="drag_1_0" 
             		src="{{ url_for('static', filename='images/piece_1_0.png') }}" 
             		draggable="true" 
             		ondragstart="drag(event)"
             		style="width: 10vw; height: 7vw;">
    		</td>

			<td colspan="3">
        		<img id="drag_2_0" 
             		src="{{ url_for('static', filename='images/piece_2_0.png') }}" 
             		draggable="true" 
             		ondragstart="drag(event)"
             		style="width: 10vw; height: 7vw;">
    		</td>
        </tr>
        <tr>

			<td colspan="3">
        		<img id="drag_4_0" 
             		src="{{ url_for('static', filename='images/piece_4_0.png') }}" 
             		draggable="true" 
             		ondragstart="drag(event)"
             		style="width: 10vw; height: 7vw;">
    		</td>

			<td colspan="3">
        		<img id="drag_0_2" 
             		src="{{ url_for('static', filename='images/piece_0_2.png') }}" 
             		draggable="true" 
             		ondragstart="drag(event)"
             		style="width: 10vw; height: 7vw;">
    		</td>

			<td colspan="3">
        		<img id="drag_1_1" 
             		src="{{ url_for('static', filename='images/piece_1_1.png') }}" 
             		draggable="true" 
             		ondragstart="drag(event)"
             		style="width: 10vw; height: 7vw;">
    		</td>
        </tr>
        <tr>

			<td colspan="3">
        		<img id="drag_1_2" 
             		src="{{ url_for('static', filename='images/piece_1_2.png') }}" 
             		draggable="true" 
             		ondragstart="drag(event)"
             		style="width: 10vw; height: 7vw;">
    		</td>

			<td colspan="3">
        		<img id="drag_5_0" 
             		src="{{ url_for('static', filename='images/piece_5_0.png') }}" 
             		draggable="true" 
             		ondragstart="drag(event)"
             		style="width: 10vw; height: 7vw;">
    		</td>

			<td colspan="3">
        		<img id="drag_0_0" 
             		src="{{ url_for('static', filename='images/piece_0_0.png') }}" 
             		draggable="true" 
             		ondragstart="drag(event)"
             		style="width: 10vw; height: 7vw;">
    		</td>
        </tr>
        <tr>

			<td colspan="3">
        		<img id="drag_3_0" 
             		src="{{ url_for('static', filename='images/piece_3_0.png') }}" 
             		draggable="true" 
             		ondragstart="drag(event)"
             		style="width: 10vw; height: 7vw;">
    		</td>

			<td colspan="3">
        		<img id="drag_2_1" 
             		src="{{ url_for('static', filename='images/piece_2_1.png') }}" 
             		draggable="true" 
             		ondragstart="drag(event)"
             		style="width: 10vw; height: 7vw;">
    		</td>

			<td colspan="3">
        		<img id="drag_3_2" 
             		src="{{ url_for('static', filename='images/piece_3_2.png') }}" 
             		draggable="true" 
             		ondragstart="drag(event)"
             		style="width: 10vw; height: 7vw;">
    		</td>
        </tr>
        <tr>

			<td colspan="3">
        		<img id="drag_0_1" 
             		src="{{ url_for('static', filename='images/piece_0_1.png') }}" 
             		draggable="true" 
             		ondragstart="drag(event)"
             		style="width: 10vw; height: 7vw;">
    		</td>

			<td colspan="3">
        		<img id="drag_5_1" 
             		src="{{ url_for('static', filename='images/piece_5_1.png') }}" 
             		draggable="true" 
             		ondragstart="drag(event)"
             		style="width: 10vw; height: 7vw;">
    		</td>

			<td colspan="3">
        		<img id="drag_2_2" 
             		src="{{ url_for('static', filename='images/piece_2_2.png') }}" 
             		draggable="true" 
             		ondragstart="drag(event)"
             		style="width: 10vw; height: 7vw;">
    		</td>
        </tr>

			</table>
		</div>	
	
	<script>
		document.getElementById("uploadBtn").addEventListener("click", function() {
        	document.getElementById("fileInput").click(); // Simule le clic sur l'input
        });
        
        document.getElementById("fileInput").addEventListener("change", function() {
        	document.getElementById("uploadForm").submit(); // Soumet le formulaire dès qu'un fichier est sélectionné
        });
	</script>
	</body>
	</html>
	