
	<!DOCTYPE HTML>
	<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
	<title>puzzle</title>
	
	<style>
		.grid-cell {
		width: 128px;
		height: 128px;
		border: 1px solid #aaaaaa;
		position: relative;
		}

	</style>
	
	<script>
		function allowDrop(ev) {
		ev.preventDefault();
		}

		function drag(ev) {
		ev.dataTransfer.setData("text", ev.target.id);
		}

		function drop(ev) {
		ev.preventDefault();
		var data = ev.dataTransfer.getData("text");

		if (ev.target.classList.contains('grid-cell') && ev.target.children.length === 0) {
			ev.target.appendChild(document.getElementById(data));
		} 
		}
	</script>
	</head>
	
	<body>
		<header>Puzzle du monde </header>

		<nav class="menu">
			<ul class="menu-list">
				<li class="menu-item">
					<a href="/">Accueil</a>
				</li>
				<li class="menu-item">
					<a href="#">Choix Puzzle</a>
					<ul class="submenu">
						<li><a href="/run-monde">Monde</a></li>
						<li><a href="#">Etat-Unis</a></li>
						<li><a href="#">Europe</a></li>
						<li><a href="/run-asie">Asie</a></li>
						<li><a href="#">Importer</a></li>
					</ul>
				</li>
				<li class="menu-item">
					<a href="#">Difficultés</a>
					<ul class="submenu">
						<li><a href="#">Très facile</a></li>
						<li><a href="#">Facile</a></li>
						<li><a href="#">Moyen</a></li>
						<li><a href="#">Difficile</a></li>
						<li><a href="#">Très difficile</a></li>
					</ul>
				</li>
				<li class="menu-item">
					<a href="#">À propos</a>
				</li>
			</ul>
		</nav>
	
		<div class="carte">
			<table border="0" cellspacing="0" cellpadding="0">
	        <tr>
            <td><div id="cell0" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell1" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell2" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell3" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell4" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell5" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell6" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell7" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
        </tr>
        <tr>
            <td><div id="cell8" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell9" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell10" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell11" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell12" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell13" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell14" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell15" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
        </tr>
        <tr>
            <td><div id="cell16" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell17" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell18" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell19" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell20" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell21" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell22" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell23" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
        </tr>
        <tr>
            <td><div id="cell24" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell25" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell26" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell27" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell28" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell29" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell30" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
            <td><div id="cell31" class="grid-cell" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
        </tr>
        </table>
    </div>

		<div class="morceaux">
			Placer les morceaux sur la carte:
			<table border="0" cellspacing="0" cellpadding="0">
	        <tr>
            <td colspan="3"><img id="drag0" src="{{ url_for('static', filename='images/piece_2_7.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
            <td colspan="3"><img id="drag1" src="{{ url_for('static', filename='images/piece_1_2.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag2" src="{{ url_for('static', filename='images/piece_0_5.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
            <td colspan="3"><img id="drag3" src="{{ url_for('static', filename='images/piece_2_6.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag4" src="{{ url_for('static', filename='images/piece_3_7.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
            <td colspan="3"><img id="drag5" src="{{ url_for('static', filename='images/piece_3_4.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag6" src="{{ url_for('static', filename='images/piece_2_0.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
            <td colspan="3"><img id="drag7" src="{{ url_for('static', filename='images/piece_1_0.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag8" src="{{ url_for('static', filename='images/piece_3_1.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
            <td colspan="3"><img id="drag9" src="{{ url_for('static', filename='images/piece_0_6.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag10" src="{{ url_for('static', filename='images/piece_1_3.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
            <td colspan="3"><img id="drag11" src="{{ url_for('static', filename='images/piece_1_5.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag12" src="{{ url_for('static', filename='images/piece_2_3.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
            <td colspan="3"><img id="drag13" src="{{ url_for('static', filename='images/piece_2_1.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag14" src="{{ url_for('static', filename='images/piece_3_2.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
            <td colspan="3"><img id="drag15" src="{{ url_for('static', filename='images/piece_1_4.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag16" src="{{ url_for('static', filename='images/piece_0_2.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
            <td colspan="3"><img id="drag17" src="{{ url_for('static', filename='images/piece_3_3.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag18" src="{{ url_for('static', filename='images/piece_1_1.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
            <td colspan="3"><img id="drag19" src="{{ url_for('static', filename='images/piece_1_6.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag20" src="{{ url_for('static', filename='images/piece_0_0.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
            <td colspan="3"><img id="drag21" src="{{ url_for('static', filename='images/piece_2_5.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag22" src="{{ url_for('static', filename='images/piece_3_6.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
            <td colspan="3"><img id="drag23" src="{{ url_for('static', filename='images/piece_3_0.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag24" src="{{ url_for('static', filename='images/piece_0_4.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
            <td colspan="3"><img id="drag25" src="{{ url_for('static', filename='images/piece_1_7.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag26" src="{{ url_for('static', filename='images/piece_0_1.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
            <td colspan="3"><img id="drag27" src="{{ url_for('static', filename='images/piece_0_3.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag28" src="{{ url_for('static', filename='images/piece_0_7.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
            <td colspan="3"><img id="drag29" src="{{ url_for('static', filename='images/piece_2_4.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
        </tr>
        <tr>
            <td colspan="3"><img id="drag30" src="{{ url_for('static', filename='images/piece_2_2.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
            <td colspan="3"><img id="drag31" src="{{ url_for('static', filename='images/piece_3_5.png') }}" draggable="true" ondragstart="drag(event)" width="128" height="128"></td>
        </tr>

			</table>
		</div>	

	</body>
	</html>
	